<article id="<%= post.layout %>-<%= post.slug %>" class="post">
	<footer class="entry-meta-header">
		<span class="meta-elements date">
			<%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
		</span>
		<span class="meta-elements author"><%= config.author %></span>
		<div class="commentscount">
			<% if (post.comments && config.disqus_shortname){ %>
				<a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">Comments</a>
			<% } %>
		</div>
	</footer>
	<%- partial('post/gallery') %>
	<header class="entry-header">
		<%- partial('post/title', {class_name: 'article-title'}) %>
		<ul class="social-buttons">
			<li>
				<div class="fb-like" data-href="<%- config.root %><%- post.path %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
			</li>
			<li>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://blog.yukiohyama.com<%- config.root %><%- post.path %>" data-text="<%- post.title %> | <%- config.title %>" data-via="Ohyama_" lang="ja">ツイート</a>
			</li>
		</ul>
	</header>
	<div class="entry-content">
		<% if (post.excerpt && index){ %>
			<%- post.excerpt %>
			<% if (theme.excerpt_link){ %>
				<p class="article-more-link">
					<a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
				</p>
      <% } %>
    <% } else { %>
    	<%- post.content %>
    <% } %>
	</div>
	<footer class="entry-footer">
		<div class="entry-meta-footer">
			<span class="category">
				<%- partial('post/category') %>
			</span>
			<span class="tags">
				<%- partial('post/tag') %>
			</span>
		</div>
	</footer>
	<% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (index){ %>
	<hr class="article-devider">
<% } %>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
